body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
}
.counter h1 {
  color: #000;
  font-size: 7rem;
  margin: 0;
  margin-bottom: 20px;
}
.counter h2 {
  font-size: 2rem;
  margin: 0;
  color: #556581;
}
.counter button {
  background: transparent;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  padding: 0.7rem 1.8rem;
  cursor: pointer;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}
.counter button.minus {
  background-color: #e63946;
  color: #fff;
  box-shadow: 0rem 0.2rem 0.2rem 0.1rem #a92b35;
  border: 0px solid black;
}
.counter button.plus {
  background-color: rgb(42, 157, 143);
  color: #fff;
  box-shadow: 0rem 0.2rem 0.2rem 0.1rem rgb(27, 97, 89);
  border: 0px solid black;
}
.counter button:hover {
  transform: translateY(-2px);
}
.counter button:active {
  transform: translateY(2px);
  box-shadow: none;
}